/*
!.gitignore
!Blik_2025_git_hook_post-receive.sh

!Blik_2024_form
!Blik_2023_form.js
!Blik_2024_chart.js
!Blik_2024_network.js
!Blik_2023_d4.js

!Blik_2024_wikipedia.js
!Blik_2025_extrude.js
!Blik_2024_map.js
!Blik_2025_base64.json

!mozilla_2010_pdf_brightspace.js
!mozilla_2010_pdf_link_service_brightspace.js
!mozilla_2010_pdf_viewer_brightspace.js
!mozilla_2010_pdf_worker_brightspace.js

!Blik_2025_fonts.json
!Blik_2018_calligraphy.ttf
!Sayers_2011_averia.ttf
!blessochampion_2019_awesomesvgs.json

!Blik_2025_author.js
!Blik_2022_3D_vector_graphics
!Blik_2026_Natural_language_processing
!Blik_2026_Interface_can_React
!Blik_2024_Map_definitions
!Blik_2025_Wikipedia_proxy
!Blik_2025_Open_science_controversy
